body {
    font-family: courier;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
}
#closebutton {
    visibility: hidden; /*hide the close button until the user has selected a file*/
    color: white;
    /*position the close button in the top right corner of the filebox*/
    position: absolute;
    top: 0.75%;
    right: 2.5%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(241, 104, 104);
    cursor: pointer;
}
#closebutton.shown {
    visibility: visible;

}
#navbar {
    margin-top: 0.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 14px 16px;
    text-align: center;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
}
#navtitle {
    font-weight: bold;
    color: rgb(241, 104, 104);
}
#loading {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
}
#loadingtext{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -130px;
}
#loading.shown {
    visibility: visible;
}
#spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(241, 104, 104);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#header {
    background-color: rgb(55, 92, 170);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#filebox {
    border: 10px solid rgba(0, 0, 0, 0.801);
    border-radius: 10px;
    border-style: dashed;
    border-width: 10px;
    height: 400px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    position: absolute;
    top: 50%;
}
#filebox.highlight {
    border-color: lightblue;
}
#fileElem {
    display: none;
  }
/*draw a large plus in the center of the body*/
#fileplus {
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    position: absolute;
    top: 50%;
}
#fileplus::before {
    content: "+";
    height:200px;
    width:200px;
    font-size:200px;
    margin-left: -25px;
    margin-top: -20px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:rgb(255, 255, 255);
}
#fileplus.highlight {
    background-color: lightblue;
}
#loadingtext {
    color: rgb(0, 0, 0);
}

#filebox.hidden {
    visibility: hidden;
}
#fileplus.hidden {
    visibility: hidden;
}
#output.hidden {
    visibility: hidden;
}
#outputbox {
    margin-left: 5%;
}